body{
    margin: 0px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

#parte1{
    background-color: rgb(122, 175, 245);
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.escrita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(90, 211, 248);
    border-radius: 10px;
}

#imagem{
    width: 300px;
    height: 200px;
}
