#parte1{
    background-color: rgb(174, 213, 248);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    padding: 6px;
    align-items: center;
}
