body{
    margin: 0px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

#parte1{
    background-color: rgb(90, 211, 248);
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.escrita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(90, 211, 248);
    border: 4px solid white;
    border-radius: 10px;
}
